[mysqld]
# Basic settings
datadir = /var/lib/mysql
#Programs on the same server use this socket file for communication with the databas
socket = /run/mysqld/mysqld.sock
bind-address = 0.0.0.0
port = 3306
user = mysql 

# Character set
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci